#allNumbers {
    /* centres number buttons */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 3.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#sidebar{
      float:left;
      width: 7%;
      background-image: linear-gradient(purple,#57005E);
      height: 100%;
      font-family: 'Montserrat', sans-serif;
}
#logo {
    margin: 15px 20% 15px 20%;
    display: block;
    max-width:300px;
    max-height:300px;
    width: 60%;
    height: auto;
}
.parent {
    /* Contain logo and number buttons */
    /* formatting is off without this */
    width: 100%;
}
.number {
    /* Subtle grey gradient */
    background-image: radial-gradient(circle, #D8D8D8, #777777);
    /* Yellow */
    /* background: #FBEF6F;*/
    /* Grey border */
    border: 1px solid #d3d3d3;
    /* height and width are equal, dependent on sidebar width. For sidebar of 10%, 5vw. font size is half. */
    height: 3.5vw;
    width: 3.5vw;
    /* line-height must be equal to height to keep text centred */
    line-height: 3.5vw;
    margin: 15% auto 15% auto;
    text-align: center;
    border-radius: 10px;
    font-size: 1.75vw;
}
.number a {
    /* number button links */
    display: block;
    height: 100%;
    width: 100%;
    float: left;
    color: black;
    text-decoration: none;
}
.active {
    /* for current page number */
    background-image: radial-gradient(circle, purple, #57005E);
    /* active height is 6/5 of normal height. normal height is 3.5vw */
    height: 4.2vw;
    width: 4.2vw;
    /* line-height must be equal to height to keep text centred */
    line-height: 4.2vw;
}
.active:hover, .continue:hover {
    background-image: radial-gradient(circle, rgb(68, 1, 73), rgb(153, 0, 153));
}
.active a {
    color: #D8D8D8;
}
.available:hover {
    background-image: radial-gradient(circle, #777777, #D8D8D8);
}
.available a{
    display: block;
    height: 100%;
    width: 100%;
    float: left;
    color: black;
    text-decoration: none;
}

.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=80);
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: .80;
}
#content {
  height: 100%;
  width: 100%;
     background: url("../images/clock background - light.png");
    background-repeat: no-repeat;
    background-size: cover;  
}
#tableSpace{
    width: 80%;
    float: left;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

#numberingBar{
    width: 7%;
    float: left;
    height: 700px;
}

#eventBar{
    width: 13%;
    float: left;
    height: 100%;

}

.dayColumn{
    width: 12.5%;
    float: left;
}

.timeSlot{
    width: 100%;
    height: 3rem;
    border: 1px solid #d3d3d3;
}

.time{
    width: 100%;
    height: 3rem;
    border: 1px solid #d3d3d3;
}

#dateScroll{
    width: 79%;
    height: 30px;
    background-color: #A8A8A8;
    position: fixed;
    z-index: 5;
    border: 1px solid #d3d3d3;
}

#timetable{
    margin-top: 30px;
}

#timeColumn{
    background-color: #A8A8A8;
}
/*

style code */
h1 {
    width: 100%;
    height: 80px;
    font-family: Roboto;
    background-image: linear-gradient(purple,#57005E);
    color: white;
    margin: 0;
    padding: 10px 20px 15px 20px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

html, body{
    height: 100%;
}
button{
    font-family: Roboto;
    width: 100%;
    height: 46px;
    color: black;
    position: relative;
}
input:focus{
    background: #fff;
    border:3px solid purple;
    outline: none;
}
input{
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    padding: 13px 13px 13px 5px;
}
input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 3;
}

.select{
    background: purple;
    color: white;
}
.list{
    height: 200px;
}
.exclude{
    color: grey;
    text-decoration: line-through;
}

/*div{
    width: 100px;
    height: 40px;
    box-sizing: border-box;
}*/
.drop{
  /*margin: 100px auto;*/
  background: #fff;
 /* min-height: 120px;*/
}

.over {
  border: solid 5px purple;
}

.delete {
 position: absolute;
 right: 5px;
 top: 0;
}
/* .lecture{
    border: solid 1px crimson;
    background-color: khaki;
}

span{
    border: solid 1px red;
}
*/
/* #timeHeading {
    border: 1px solid #D3D3D3;
    margin: 0;
} */
